/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* дополнительный цвет белый #FFFFFF */
/* дополнительный цвет черный #000000 */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */
/* вторичный цвет белого фона #F5F4FA */
:root {
  --primary-text-color--: #757575;
  --secondary-text-color--: #212121;
  --white-text-color--: #ffffff;
  --accent-color--: #2196f3;
  --background-accent-color: #2f303a;
  --background-secondary-color: #f5f4fa;
}

body {
  background-color: #fff;
  color: var(--primary-text-color--);
}

.list {
  list-style: none;
}
/* LOGO */

.logo-nav,
.logo-footer {
  color: var(--accent-color--);
}
.logo-nav span {
  color: #000;
}
.logo-footer span {
  color: var(--white-text-color--);
}

/* Site navigation */

.site-nav .link {
  color: var(--secondary-text-color--);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color--);
}
.contact-nav .link {
  color: var(--primary-text-color--);
}
.contact-nav a:hover,
.contact-nav a:focus {
  color: var(--accent-color--);
}
.site-nav .link.current {
  color: var(--accent-color--);
}

/* Hero */

.hero {
  background-color: var(--background-accent-color);
}
.hero-title {
  color: var(--white-text-color--);
}

/* Sections */

.section-title {
  color: var(--secondary-text-color--);
}

/* Specifics */

.specifics-list .caption {
  color: var(--secondary-text-color--);
}

/* Team */

.team {
  background-color: var(--background-secondary-color);
}
.team-list .caption {
  color: var(--secondary-text-color--);
}

/* Footer */

footer {
  background-color: var(--background-accent-color);
}
address .map {
  color: var(--white-text-color--);
}
address .mail,
address .tel {
  color: rgba(255, 255, 255, 0.6);
}
address .map:hover,
address .mail:hover,
address .tel:hover {
  color: var(--accent-color--);
}
address .map:focus,
address .mail:focus,
address .tel:focus {
  color: var(--accent-color--);
}

/* Portfolio */

.work-titel {
  visibility: hidden;
}
.work-list .caption {
  color: var(--secondary-text-color--);
}

/* Button */

.button.primary {
  background-color: var(--accent-color--);
  color: var(--white-text-color--);
}
.button.secondary {
  background-color: var(--background-secondary-color);
  color: var(--secondary-text-color--);
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color--);
  color: var(--white-text-color--);
}
